*/
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
  }
  nav img {
    height: fit-content;
    margin: auto 50px;
  }
  nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 50px;
  }
  
  nav ul a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 50px;
  }
  
  nav ul .active {
    font-weight: bold;
    color: white;
    background-color: black;
  }
  header{
      display: flex;
      justify-content: left;
      align-items: center;
      width: 1000%;
      padding: 10px;
      background-color: white;
  }

  ul{
      display: flex;
      position: absolute;
      right: 0;
      top: 30;
  }

  container{
    width: 100%;
    min-height: 200px;
  }
  section {
    margin: 100px;
    background-color: white;
    padding: 50px;
  }
  
  section h1 {
    text-align: center;
  }
  
  section a {
    text-decoration: none;
  }
  
  section .item {
    margin-bottom: 10px;
  }

  