<style>
  h1 {text-align: center;}
  li {list-style: none;}
</style>
<h1>Hubungi kami</h1>
  <li><b>Kantor</b>:Muhammad Luthfi</li>
  <li><b>Nomor</b>:089 3984 9983</li>
  <li><b>Email</b>:Eimluthfi@gmail.com</li>

<h1>Kirim Pesan</h1>
<p><b>Nama</b></p>
<input type="text" name="name" id="" />

<p><b>Email</b></p>
<input type="text" email="email" id="" />

<p><b>Jenis Kelamin</b></p>
          <div class="item">
            <input type="radio" name="email" id="" /><span>Laki - laki</span>
            <input type="radio" name="email" id="" /><span>Perempuan</span>

<p>Pesan Anda</p>
<textarea type="text-area" name="message" id=""></textarea>            

<a href=""> <button>Kirim</button></a>

</div>
<a href="./index.html"> <button>Kembali ke Index</button></a>
</div>