.maba {
  margin: auto;
  margin-top: 0px;
  padding: 10px;
  width: 50%;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.08);
}

table {
  margin: auto;
  width: 100%;
}

.title {
  text-align: center;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
/* 
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */

/* button {
  background-color: rgb(89, 106, 255);
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px;
} */

.button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  text-align: center;
  color: white;
  border: 0 none;
  background-color: rgb(89, 106, 255);
  padding: 10px 0;
}

button:active {
  background-color: red;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 0px solid #292929;
  text-align: left;
  padding: 8px;
}
