.card {
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  width: 30%;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.08);
}

.image {
  display: flex;
  padding: 15px 0;
  justify-content: center;
}

.title {
  font-weight: 300;
}

.text-title {
  border-bottom: 2px solid rgba(87, 87, 87, 0.3);
  font-weight: 500;
  margin-top: -15px;
  padding-bottom: 5px;
}

.text {
  margin: 15px 0px 15px 3px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(87, 87, 87, 0.3);
}

.box {
  margin: 0 10px;
}
.countdown {
  display: flex;
  justify-content: center;
}

.margin-countdown {
  margin-right: 180px;
}

.tabel1 {
  width: 100%;
  margin: auto;
}
