* {
  list-style: none;
  text-decoration: none;
}

nav {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
}

/* light theme */

nav.light {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #aaa;
  background-color: white;
}

nav.light li {
  display: flex;
}

nav.light li a {
  color: #aaa;
  padding: 20px 16px;
}

nav.light li:hover {
  background-color: #eee;
  color: white;
}

/* dark theme */

nav.dark {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #aaa;
  background-color: #333;
}

nav.dark li {
  display: flex;
}

nav.dark li a {
  color: white;
  padding: 20px 16px;
}

nav.dark li:hover {
  background-color: #aaa;
  color: white;
}

/* switch button  */

nav.light li span {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

nav.dark li span {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

/* .ant-switch {
  min-width: 70px;
  display: flex;
} */
