.card {
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  width: 30%;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.08);
}

.image {
  display: flex;
  padding: 15px 0;
  justify-content: center;
}

.title {
  font-weight: 300;
}

.text-title {
  border-bottom: 2px solid rgba(87, 87, 87, 0.3);
  font-weight: 500;
  margin-top: -15px;
  padding-bottom: 5px;
}

.text {
  margin: 15px 0px 15px 3px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(87, 87, 87, 0.3);
}

.box {
  margin: 0 10px;
}

button {
  width: 100%;
  text-align: center;
  color: white;
  border: 0 none;
  background-color: rgb(89, 106, 255);
  padding: 10px 0;
}

button:active {
  background-color: red;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

nav ul a {
  margin: 0 20px;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 50px;
}
nav.dark {
  background-color: rgb(32, 32, 32);
}

nav.light {
  background-color: white;
}

nav.dark a {
  color: white;
}
